<p>
  <% if @request.map_data && !@request.map_data.empty? %>
    <img style="height:50%; width:50%" 
         src="<%=h map_request_path(@request) %>" 
         alt="Map uploaded in response to this request"
         onclick="location.href = '<%= map_request_path(@request) %>'" />
<% else %>
  No map uploaded yet
<% end %>
</p>
  
<p>
  <b>Latitude:</b>
  <%=h @request.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @request.longitude %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
